$mcolor:#aa0601;
$subcolor:#fbf2f2;
$dred:#650300;
$gray:#707070;
$light:#fff;
$dark:#000;
$mark:#212529;
$shadow:#005;
$border:#DEE2E6;

$base-font-size:16px;
$h1-font-size:64px;
$lg-font-size:48px;
$md-font-size:36px;
$sm-font-size:20px;
$xs-font-size:14px;


